/*
 * Start Bootstrap - Logo Nav (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

@font-face {
     font-family: UniviaproBold;
     src: url('../fonts/UniviaPro-Bold.otf');
}

@font-face {
     font-family: UniviaproBlack;
     src: url('../fonts/UniviaPro-Black.otf');
}
@font-face {
     font-family: UniviaproLight;
     src: url('../fonts/UniviaPro-Light.otf');
}

body {
	font-family: Calibri;
    padding-top: 20px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.navbar-default {
    background-color: rgba(0,0,0,.0001);
    border-color: rgba(0,0,0,.0001);
}

.nav>li>a {
    position: relative;
    display: block;
    font-weight: bold;
    color: #169D00;
    margin-left: 10px;
    padding: 0;
}

.nav>li>a:hover {
    text-decoration: none;
    background-color: #169D00;
    color: #FFEF67;
}

.navbar-brand {
    height: 130px;
}

.font-green{
	font-weight: bold;
	color: #169D00;
}
.button-search{
	margin-left: 5px;
}

.margin-top-10{
	margin-top: 10px;
}


.nav-estado{
	margin-top: 40px;
}

.margin-top-10 select {
    	width: 66%;
	}



.first{
	padding: 80px 0 80px 0;
	background: url(../images/bg01.png) center center no-repeat;
    background-size: cover;
}



.titleBlack{
	color: #03a6a3;
	font-family: "UniviaproBlack", Arial, Tahoma, Sans-serif;
}

.titleLight{
	color: #00202c;
	font-family: "UniviaproLight", Arial, Tahoma, Sans-serif;
}

.paragrafo{
	color: #505050;
}


#list{
	list-style-type: none;
	margin: 0;
    padding: 0;
    float: right;
}

#list li{
	height: 67px;
	width: 281px;
}
#list>li>a{
	text-decoration: none;
    float: right;
    padding: 20px;
    color: #fff;
}

#list>li>a:hover{
    color: #FFEF67;
}

#list #perfil{
	background: url('../images/01.png') center center no-repeat;
}
#list #adm{
	background: url('../images/02.png') center center no-repeat;
}
#list #noticia{
	background: url('../images/03.png') center center no-repeat;
}
#list #eleicao{
	background: url('../images/04.png') center center no-repeat;
}

.link-comece{
	float: right;
    padding: 0;
    margin: 0;
}

.link-comece a{
	float: right;
	text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px;
    color: #505050;
    text-transform: uppercase;
}

.link-comece a:hover{
	color: #169d00;
}

.hr-comece{
	 color: #f30000;
    float: right;
    padding: 5px 0 5px 0;

}
.bg-hr{
	background: #9ee096;
	height: 10px;

}

.second{
	padding: 20px 0 20px 0;
	text-align: center;
	background: #00202c;
}

.second h1{
	color: #9ee096;
	font-family: "UniviaproBold", Arial, Tahoma, Sans-serif;
}

.second p{
	padding: 10px;
	color: #fff;
	font-size: 20px;
	font-family: "UniviaproLight", Arial, Tahoma, Sans-serif;
}

.btn-login{
	padding: 10px 50px;
	color: #9ee096;
	font-size: 20px;
	font-family: "UniviaproLight", Arial, Tahoma, Sans-serif;
	background: transparent;
    border: dotted 2px #9ee096;
}

.btn-login:hover{
	color: #169d00;
	border: dotted 2px #169d00;

}
.btn-login:active:focus, .btn-login:focus {
    outline: none;
    outline-offset: -2px;
    color: #9ee096;
}

.third{
	font-family: "UniviaproLight", Arial, Tahoma, Sans-serif;
	padding: 20px 0 20px 0;
	background: #03a6a3;
	color: #fff;
}

.third h4{
	font-family: "UniviaproBlack", Arial, Tahoma, Sans-serif;
}

.third img{
	margin: 10px;
	display: inline;
}

.form-control:focus {
    border-color: #fff;
}
.third input, .third textarea{
	background: #03a6a3;
	border:1px solid #00202c;
}
.third input::-webkit-input-placeholder, .third textarea::-webkit-input-placeholder  { /* Chrome/Opera/Safari */
  color:  #00202c;
}
.third input::-moz-placeholder, .third textarea::-moz-placeholder { /* Firefox 19+ */
  color:  #00202c;
}
.third input:-ms-input-placeholder, .third textarea:-ms-input-placeholder { /* IE 10+ */
  color:  #00202c;
}
.third input:-moz-placeholder, .third textarea:-moz-placeholder { /* Firefox 18- */
  color:  #00202c;
}

.btn-send{
	color: #fff;
	padding: 10px 30px;
	background: #00202c;
}


.btn-send:hover{
	color: #fff;
	background: #00202c;
	border: 1px solid #fff;
}

@media screen and (max-width: 1400px) and (min-width: 1024px) {
    
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .margin-top-10 select {
    	width: 60%;
	}
}
@media screen and (max-width: 768px) and (min-width: 425px) {
    
}
@media screen and (max-width: 425px) and (min-width: 320px) {
    .navbar-brand {
    	height: 130px;
    	width: 80%;
	}
	.nav>li {
    border-bottom: 1px solid #037f00;
	}

	.pull-right {
    float: none!important;
	}

	.button-search{
		float: right;

	}

	.bg-hr{
		float: right !important;
	}

	.btn {
    	/* display: block; */
    	padding: 3px;
    	margin-bottom: 0;
	}

	.margin-top-10 select {
    	width: 100%;
	}
}





